main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
}

#loginContainer{
    width: 35%;
    padding: 1em 1em;
}

.title{
    text-align: center;
    
}


.usernameCont,
.passwordCont
{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;



}
.usernameCont > :first-child,
.passwordCont  > :first-child
{
    font-size: 13px;
    color: var(--gray1);
    font-family: Inter-SemiBold;
}



#password{
    width: 100em;
    flex:1;

}
#loginButton{
    background-color: var(--purple);
    color: white;
    width: 100%;
    margin-top: 1em;
    /* height: 3.em; */
}
