main{
    display: flex;
    gap: 2em;
    width: 100%;
    background-color: var(--gray4);
    
    
}

#drawerContainer{
    display: flex;
    position: fixed;
    z-index: 50;
    width: 270px;
}

#contentContainer{
    margin-left: 260px;
    background-color: var(--gray4);
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
   
}


/* General Filter */
#generalFilter{
    display: flex;
    width: 100%;
    margin-top: 1em;
    padding: 1em 1em;
    border-radius: 5px;
    background-color: white;

}
#generalFilter > :first-child{
    display: flex;
    align-items: center;
    gap: 1em;
    font-family: Inter-SemiBold;
    color: var(--purple);
    
}

#generalFilter > ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1em;
    font-family: Inter-SemiBold;
    color: var(--gray);
    font-size: 13px;
}

#generalFilter > ul > li{

    width: 10%;
    text-align: center;
    padding: .4em 0;
    border-radius: 3px;
}

/* Record Container */
#recordContainer{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    margin-top: 1em;
    padding: 1em 0 3em 0;
}

.notActiveFilter{
    background-color:var(--gray5);
}
.activeGeneralFilter{
    background-color:var(--purple);
    color: white;
}
/* Card */

#historyContainer{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    margin-top: 1em;
    padding: 1em 1em;
    
}

#statisticsTitle{
    font-family: Inter-SemiBold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0 1em 0;
    width: 100%;
    background-color: white;
    
}
#statisticsTitle>h6 {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 1em;
    padding: .5em 1em;
    background-color: var(--gray1);
    color: var(--gray3);
}

#date {
    width: 90%;
    padding: .5em 1em;
}


/*  */
#dataContainer{
    
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    margin-top: 1em;
    padding: 0 1em 1em 0;
    margin-bottom: 1em;
}

/* Add user */
#attendeesContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    margin-top: 1em;
    padding: 0 1em 1em 0;
}

#attendeesContainer > :nth-child(2){
    display: flex;
    width: 100%;
    gap:3em;


}

#attendeesContainer > div > :first-child{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
}

.addCard{
    width:100%;
    font-family: Inter-SemiBold ;
    font-size: 12px;

}





